/* navbar */
.navbar {
  background-color: #282c34;
  min-height: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  color: white;
}

.movie-search{
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  box-shadow: 0 1px 6px rgba(255, 255, 255, 0.8);
  padding: .7rem 1.8rem;
}

/* body */
.movie-container{
  margin: 2rem 0;
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.movie-wrapper{
  width: 200px;
  height: 360px;
  position: relative;
  padding:1rem 0;
  color: black;
  border-radius: 2rem;
}

 .movie-image{
  width: 200px;
  border-radius: .8rem;
}

.movie-image:hover{
  transform: translateY(-.5rem);
}

.movie-title{
  font-size: 1.2rem;
  font-weight: bold;
}

.movie-describe{
  display: flex;
  align-items: center;
  padding: .5rem 0;
  font-size: .88rem;
  justify-content: space-between;
}

.movie-rate{
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}

.movie-date{
  font-style: italic;
}

.category{
  display: block;
  background-color: rgb(73, 73, 73);
  color: #fff;
  font-size: .6rem;
  padding: .5rem;
  border-radius: 1.8rem;
}

.category:hover{
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}