/* navbar */
.navbar {
  top: 0;
  background-color: #282c34;
  min-height: 1rem;
  position: fixed;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  color: white;
}

.movie-search {
  border: none;
  background: whitesmoke;
  border-radius: 2rem;
  padding: 0.7rem 1.8rem;
  box-shadow: 0 1px 6px rgba(255, 255, 255, 0.8);
  font-size: 1rem;
}

.bi {
  font-size: 1rem;
}

/* loading */
:root {
  --hue: 223;
  --bg: hsl(var(--hue), 10%, 90%);
  --fg: hsl(var(--hue), 10%, 10%);
}
.loader-container {
  background: var(--bg);
  color: var(--fg);
  font: 1em/1.5 sans-serif;
  height: 100vh;
  display: grid;
  place-items: center;
}

.pl {
  display: block;
  width: 6.25em;
  height: 6.25em;
}
.pl__ring,
.pl__ball {
  animation: ring 2s ease-out infinite;
}
.pl__ball {
  animation-name: ball;
}

/* Animation */
@keyframes ring {
  from {
    stroke-dasharray: 0 257 0 0 1 0 0 258;
  }
  25% {
    stroke-dasharray: 0 0 0 0 257 0 258 0;
  }
  50%,
  to {
    stroke-dasharray: 0 0 0 0 0 515 0 0;
  }
}

@keyframes ball {
  from,
  50% {
    animation-timing-function: ease-in;
    stroke-dashoffset: 1;
  }
  64% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -109;
  }
  78% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -145;
  }
  92% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -157;
  }
  57%,
  71%,
  85%,
  99%,
  to {
    animation-timing-function: ease-out;
    stroke-dashoffset: -163;
  }
}

/* body */
.movie-container {
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.movie-wrapper {
  background: transparent;
  width: 200px;
  min-height: 400px;
  position: relative;
  color: black;
}

.movie-image {
  width: 200px;
  border-radius: 0.8rem;
}

.movie-image:hover {
  transform: translateY(-0.5rem);
}

.movie-title {
  font-size: 1.2rem;
  font-weight: bold;
  min-height: 60px;
}

.movie-describe {
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  font-size: 0.88rem;
  justify-content: space-between;
}

.movie-rate {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}

.movie-date {
  font-style: italic;
}

.category {
  display: block;
  background-color: rgb(73, 73, 73);
  color: #fff;
  font-size: 0.6rem;
  padding: 0.5rem;
  border-radius: 10px;
}

.category:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

@media (max-width: 657px) {
  /* navbar */
  .navbar {
    font-size: 0.7rem;
  }

  .movie-container {
    justify-content: space-around; /* Menyediakan ruang antara poster */
  }

  .movie-wrapper {
    width: calc(
      30% - 1rem
    ); /* Mengatur lebar agar 4 poster bisa masuk dalam satu baris */
    min-height: auto; /* Menghilangkan ketinggian minimum */
    margin-bottom: 2rem; /* Memberikan ruang bawah antar poster */
  }

  .movie-title {
    font-size: 0.8rem;
    font-weight: bold;
    height: 60px;
  }

  .movie-describe {
    font-size: 0.6rem;
    justify-content: space-between;
  }

  .movie-rate {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
  }

  .movie-date {
    font-size: 0.6rem;
  }

  .movie-image {
    width: 100%;
    border-radius: 0.8rem;
  }

  .movie-search {
    font-size: 0.7rem;
    background: whitesmoke;
    border-radius: 2rem;
    padding: 0.4rem 0.8rem;
    box-shadow: 0 1px 6px rgba(255, 255, 255, 0.8);
  }

  .bi {
    font-size: 1rem;
  }
}

/* Footer */
.footer {
  margin-top: 0.5rem;
  background-color: whitesmoke;
  text-align: center;
  font-weight: 1rem;
  padding: 1rem 0;
}

.footer-title {
  color: #212121;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-subtitle {
  color: #212121;
  font-size: 0.8rem;
  margin: 0 2rem;
}

.footer-social i {
  margin-bottom: 0.8rem;
  font-size: 1.8rem;
}

.footer-copy {
  font-size: 0.8rem;
}

.title {
  padding-top: 5rem;
  margin-left: 5rem;
}

.playing-wrapper {
  text-align: center;
}

.playing-image {
  width: 80%;
  height: auto;
  margin: 0 auto;
  border-radius: 1rem;
}

.playing-title {
  font-size: 1.2rem;
  padding-top: 0.6rem;
  font-weight: bold;
}

@media screen and (max-width: 567px) {
  .title {
    padding-top: 5rem;
    margin-left: 0;
    font-size: 1.6rem;
    text-align: center;
  }
}

.carousel {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.carousel img {
  width: 100%;
  height: auto;
  display: block;
  z-index: 1;
}

.content-container {
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
}

@media screen and (max-width: 447px) {
  .carousel {
    width: 100%;
    height: 30vh;
  }
}

button.carousel-slide {
  background: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 1rem;
}

.carousel-title {
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
}

@media screen and (max-width: 447px) {
  .carousel-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
  button.carousel-slide {
    background: #fff;
    font-size: 12px;
    width: 30px;
    height: 30px;
  }
}

.slick-dots{
  height: 2rem;
  overflow: hidden;
}

.carousel-title span {
  color: red;
}