.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.movie-container{
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.movie-wrapper{
  width: 400px;
  color: black;
  text-align: center;
  background-color: antiquewhite;
}

.movie-image{
  width: 400px;
}

.movie-search{
  border: none;
  margin-bottom: 1rem;
  border-radius: 2rem;
  font-size: 1rem;
  box-shadow: 0 1px 6px rgba(255, 255, 255, 0.8);
  padding: .8rem 1.8rem;
}